@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-primary {
        @apply bg-green-500 text-white px-4 py-1 rounded;
    }
}
.drawer {
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

#carrinho.show .drawer {
  transform: translateX(0);
}
